@import "reset.css";
body {
    font-family: KlavikaWebCondensed,"Arial Narrow",Arial,sans-serif;
    margin: auto 0;
    width: 100vw;
}
.header {
    width: 100%; 
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.header__logo {
    font-size: 40px;
    padding-left: 21px;
    font-weight: 999;
    font-family:fantasy;
}
.header__menu {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-right: 10px;
    font-family: KlavikaWebCondensed,"Arial Narrow",Arial,sans-serif;
}
.header__menu div {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 8px;
    border-bottom: 5px solid red;
}
.main-screen__event > img{
    width: 100%;
    height: 100%;
}
.main-screen__event {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
}
.main-screen__event-main{
    display: flex;
    justify-content: space-around;
    height: 200px;
    margin-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.main-screen__event-main img {
    width: auto;
    height: 100%;
}
.main-screen__main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.main-screen__main span,
.main-screen_main div {
    margin: 15px 0px;
}
.main-screen__main-button button{
    width: 144px;
    height: 50px;
    font-weight: 600;
    margin: 10px 10px;
}
.main-screen__main span:first-child{
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 5px;
}
.main-screen__main span:nth-child(2) {
    margin-top: 0px;
    letter-spacing: -.05rem;
    font-size: 3rem;
    line-height: 2.8125rem;
    margin-bottom: 0px;
}
.main-screen__main span:nth-child(3) {
    font-size: 20px;
    font-weight: 700;
    font-family: DIN2014,Arial,sans-serif;
    margin-bottom: 35px;
}
.main-screen__main span:first-child,
.main-screen__main span:nth-child(2) {
    font-family: KlavikaWebCondensed,"Arial Narrow",Arial,sans-serif;
}
.main-screen__event-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px 0px;
}
.main-screen__event-info > span:first-child{
    font-family:fantasy;
    opacity: 0.3;
    font-size: 64px;
}
.main-screen__event-info__title{
    display: flex;
}
.main-screen__event-info__title div {
    font-family:fantasy;
    opacity: 0.3;
}
.main-screen__event-info__title div:first-child{
    font-size: 32px;
    margin: 0px 3px;
}
.main-screen__event-info__title div:nth-child(2){
    font-size: 28px;
    text-decoration: underline 2px solid;
}
.main-screen__event-info span:nth-child(3),
.main-screen__event-info span:last-child{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
}
.news__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 160px;
    background-color: #FEFEFE;
}
.news__header span:first-child{
    font-size: 32px;
    font-family: KlavikaWebCondensed,"Arial Narrow",Arial,sans-serif;
}
.news__header span:nth-child(2){
    margin-top: 20px;
    font-size: 10px;
    color: #abadb1;
    font-family: DIN2014-Narrow,"Arial Narrow",Arial,sans-serif;
}
.main-footer{
    width: 100%;
}
.news__topnews{
    position: relative;
    height: 100%;
}
.news__topnews img{
    height: 100%;
    width: 100%;
    padding: 10px 0px;
}
.news__topnews-article{
    color: white;
    position: absolute;
    top: 80%;
    left: 3%;
}
.news__topnews-article div:first-child{
    font-size: 2rem;
    font-family: KlavikaWebCondensed,"Arial Narrow",Arial,sans-serif;
    font-weight: bolder;
}
.news__topnews-article div:nth-child(2){
    font-weight: bolder;
}
.nav{
    background-color: black;
    color: white;
    height: 440px;
}
.more {
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-family: KlavikaWebCondensed,"Arial Narrow",Arial,sans-serif;
    font-weight: bolder;
}
.nav__row {
    display: flex;
    justify-content:space-between ;
    width: 100%;
    padding: 30px 0px;
}
.nav__row-column {
    display: flex;
    width: 100%;
}
.nav__row-column:nth-child(2){
    display: flex;
    justify-content: space-between;
    width: 33%;
}
.nav__row-column-menu:last-child{
    display: flex;
    flex-direction: column;
    width: 33%;
}
.nav__row .nav__row-column:first-child div:first-child {
    font-family:fantasy;
    font-size: 40px;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 35px;
}
.nav__row .nav__row-column:first-child div:nth-child(2) {
    text-align: start;
}
.nav__row-column-menu:first-child{
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}
.nav__row-column-menu span:nth-child(2),
.nav__row-column-menu span:nth-child(3) {
    opacity: 0.3;
    margin-top: 10px;
}
.nav__row:nth-child(2){
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 30px;
}
.nav__row-info:first-child {
    display: flex;
    flex-direction:column;
    margin: 45px;
    background-color: white;
    color: red;
    width: 220px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    padding: 5px 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.nav__row-info span:first-child {
    font-weight: bolder;
    font-size: 14px;
    text-align: end;
    padding-right: 5px;
}
.nav__row-info span:nth-child(2) {
    text-align: end;
    padding-right: 5px;
}
.nav__row-info:nth-child(2){
    opacity: 0.5;
}